<!-- Idea Profile Page -->
<div>
  <a href="/ideas">Home</a>
  <a href="/logout">Logout</a>
</div>
<div>

<p><a href="/users/<%= @info.user.id %>"><%= @info.user.name %></a> says: <%= @info.comment %> </p>

</div>
<div>

<h3>People who liked this post:</h3>

<table>
  <tr>
    <th>Alias</th>
    <th>Name</th>
  </tr>


</table>

</div>
